* {
   box-sizing: border-box;
}

body {
    height: 105vh;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://wallpapers.com/images/file/our-solar-system-mural-aesthetic-c688izfbh9p16x9z.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

img {
    display: flex;
    justify-self: center;
    height: 30vmin;
    width: 20vmin;
}


h1 {
    display: flex;
    justify-content: center;
    color:white;
}

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color:azure
}

#message {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}


#spotLight {
    height: 100px;
    background-color: blue;
}

#keyboard {
    display: flex;
    justify-content: center;
    height: 60px;
    color: white;
    border: white solid 5px;
    border-radius: 4vmin;
}

#alphabet {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vmin;
    width: 6vmin;
    border: 5px solid black;
    border-radius: 5vmin;
    font-size: 2vmin;
}

#alphabet:hover {
    background-color: black;
    color: white;
}

#play {
    display: flex;
    justify-content: center;
    width: 20vmin;
    margin: 10px auto;
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 3vmin;
    font-size: 2vmin;
}

#play:hover {
    background-color: black;
    color: white;
  }
