* {
   box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://wallpapers.com/images/file/our-solar-system-mural-aesthetic-c688izfbh9p16x9z.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

img {
    display: flex;
    height: 30vmin;
    width: 20vmin;
    justify-content: center;
    margin: 0px auto;
}

h1 {
    display: flex;
    justify-content: center;
    color:white;
}

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color:white;
}

#winMessage {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}

#loseMessage {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#spotLight {
    height: 60px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 110px;
    width: 70vmin;
    margin: 2px auto;
    color: white;
    border: white solid 5px;
    border-radius: 4vmin;
}

#alphabet {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vmin;
    width: 5vmin;
    color: aqua;
    background-color: black;
    border: 3px solid black;
    border-radius: 3vmin;
    font-size: 2vmin;
}

#alphabet:hover {
    background-color: aqua;
    color: black;
}

#play {
    display: flex;
    justify-content: center;
    width: 20vmin;
    margin: 10px auto;
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 3vmin;
    font-size: 2vmin;
}

#play:hover {
    background-color: aqua;
    color: black;
  }
